.footer__author {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1rem;
  color: #ffffff;
}
@media screen and (max-width: 767px) {
  .footer__author {
    padding-top: 48px;
    max-width: 230px;
  }
}
