.lead__caption {
  letter-spacing: .15rem;
  text-transform: uppercase;
  justify-self: start;
  margin: 0.625rem 0 0;
  font-style: normal;
  font-weight: normal;
  font-size: .625rem;
  line-height: .875rem;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media screen and (max-width: 1023px) {
  .lead__caption {
    padding-left: 1.5rem;
  }
}

